<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue"> Nonna Colorida</span>
    </h1>
    <div class="container-menu">
    <nav class="main-header__menu">
        <ul>
            <li><a routerLink="produtos">Produtos</a></li>
            
            <li><a routerLink="contato">Contato</a></li>
            <li><a href="https://www.instagram.com/nonna_colorida/" target="_blank">Instagram
                <i class="fa-brands fa-instagram"></i>
            </a></li>
            <li><a routerLink="carrinho">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="cart-count"> {{carrinhoService.obtemCarrinho().length}}</span>
                </a></li>
        </ul>
    </nav>
    <app-barra-pesquisa></app-barra-pesquisa>
</div>

</header>

